@model SterkeFroulju.Models.Pagina

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>
        Sterke Froulju
    </title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Sterke<span class="off"> Froulju</span></h1>
        </div>
        

        <div id="leftmenu">
            <div id="leftmenu_top"></div>

            <div id="leftmenu_main">

                <a href="#NavigationMenu_SkipLink"><img alt="Skip Navigation Links" width="0" height="0" style="border-width:0px;" /></a><div class="menu" id="NavigationMenu">
                    <ul class="level1">
                        <li><a class="level1" href="Content.aspx?ID=1">Sterke Froulju</a></li>
                        <li><a class="level1" href="Content.aspx?ID=3">Wa binne wy </a></li>
                        <li><a class="level1" href="Content.aspx?ID=4">Wat spylje wy?</a></li>
                        <li><a class="level1" href="Content.aspx?ID=5">Optredens</a></li>
                        <li><a class="level1" href="Content.aspx?ID=6">Sfear foto's</a></li>
                        <li><a class="level1" href="Content.aspx?ID=7">Resinsjes</a></li>
                        <li><a class="level1" href="Content.aspx?ID=13">Kontakt</a></li>
                    </ul>
                </div><a id="NavigationMenu_SkipLink"></a>

            </div>


            <div id="leftmenu_bottom"></div>
        </div>




        <div id="content">

            <div id="content_top"></div>
            <div id="content_main">


                <div id="MainContent_ContentDiv" style="overflow: auto; width: 650px;">
                    <span id="MainContent_ContentLabel"><img src="http://i57.tinypic.com/2s7asl0.png" /></span>
                </div>

                <div style="margin-top: 5px">
                    <hr />
                    &nbsp <i>
                        gepost op:
                        <span id="MainContent_TimeStampLabel">24-12-2013 01:03</span> &nbsp
                        door:
                        <span id="MainContent_UsernameLabel">Speedydown</span>
                    </i>
                </div>


            </div>
            <div id="content_bottom"></div>

            <div id="footer"><h3>© 2015 Sterke froulju</h3></div>
        </div>
    </div>



</body>
</html>
